@import "https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";
@import "./animations/@keyframes.css";
@import "./animations/@keyframes.css";

:root {
	--background-max: #fdf9ff;
	--background-middle: #f2f2fc;
	--background-min: #e8dfec;
	--text-main: #302e4d;
	--text-sub: #504e70;
	// --skin-color: #2e8832;
	// --skin-color: #708090;
	// --skin-color: #ec1839; 
	--skin-color: #004aad;
}

button {
	cursor: pointer;

	* {
		cursor: pointer;
	}

	i {
		color: var(--skin-color);
		font-size: 25px;
		transition: transform 500ms ease-in-out;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	user-select: none;
	box-sizing: border-box;
	list-style: none;
	font-family: "poppins", sans-serif;
	transition: 300ms;

	// outline: 1px dotted var(--text-main);
	&:focus {
		outline: 2px solid var(--skin-color);
	}
}

body {
	line-height: 1.5;
	min-height: 100dvh;
	font-size: 16px;
	overflow-x: hidden;
	background: var(--background-middle);

	.dot-cursor {
		> div {
			aspect-ratio: 1/1;
			border-radius: 50%;
			pointer-events: none;
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			transition: all 500ms, transform 100ms ease;
			width: 30px;
			z-index: 1000;
		}

		.dot-in {
			background-color: var(--text-sub);
			transition: all 500ms, transform 50ms ease;
			width: 6px;
		}

		.dot-out {
			border: 2px solid var(--text-sub);
		}

		.dot-pointer {
			background: var(--text-sub);
			opacity: 0;
		}
	}

	aside {
		padding: 30px;
		width: 270px;
		background: var(--background-max);
		position: fixed;
		left: 0;
		top: 0;
		border-right: 1px solid var(--background-min);
		min-height: 100dvh;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;




		.logo {
			position: absolute;
			top: 50px;
			font-size: 30px;

			a {
				text-transform: capitalize;
				color: var(--text-main);
				font-weight: 700;
				padding: 15px 20px;
				font-size: 30px;
				letter-spacing: 5px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					border-bottom: 5px solid var(--skin-color);
					border-left: 5px solid var(--skin-color);
					bottom: 0;
					left: 0;
				}

				&::after {
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					border-top: 5px solid var(--skin-color);
					border-right: 5px solid var(--skin-color);
					top: 0;
					right: 0;
				}

				span {
					font-family: "Clicker Script", cursive;
					font-size: 40px;
				}
			}
		}

		.nav-toggler {
			height: 40px;
			width: 45px;
			border: 1px solid var(--background-min);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: fixed;
			left: 300px;
			top: 20px;
			border-radius: 5px;
			background: var(--background-max);
			display: none;

			span {
				height: 3px;
				width: 60%;
				background: var(--skin-color);
				display: inline-block;
				border-radius: 30px;
				margin: 3px 0;
			}
		}

		nav {
			margin: 50px 0;

			ul {
				li {
					margin-bottom: 20px;
					display: block;
					position: relative;

					button {
						display: flex;
						justify-content: start;
						align-items: center;
						border: none;
						font-size: 16px;
						font-weight: 600;
						width: 100%;
						border-bottom: 1px solid var(--background-min);
						color: var(--text-sub);
						padding: 5px 15px;
						background: transparent;

						i {
							margin-right: 10px;
							transition: 500ms;

						}

						span {
							transition: 500ms;
						}

						&:hover {
							span {
								color: var(--text-main);
								text-shadow: 0px 0px 1px var(--text-main);
							}
						}

						&::before {
							content: "";
							position: absolute;
							width: 0%;
							top: 95%;
							height: 2px;
							left: 50%;
							margin: 0 auto;
							background: var(--skin-color);

							transition: 300ms;

						}

						&.active {
							color: var(--skin-color);
							cursor: default;

							* {
								cursor: default;
							}

							&::before {
								content: "";
								width: 100%;
								left: 0%;
							}

							span {
								text-shadow: none;
								color: var(--skin-color);

							}

						}
					}


				}
			}
		}

		.theme {
			width: 40%;
			display: flex;
			justify-content: space-between;

			label {
				cursor: pointer;
				padding: 5px;

				i {
					color: var(--skin-color);
					font-size: 25px;


				}

			}

			input {
				display: none;
			}

			button {
				border: none;
				background: transparent;
				padding: 5px;

				i {
					color: var(--skin-color);
					font-size: 25px;

				}
			}

			&:where(label) {
				color: var(--skin-color);
				font-size: 25px;
				transition: transform 500ms ease-in-out;
			}
		}
	}

	main {
		margin: 0 auto;

		section {
			min-width: 1050px;
			max-width: 1850px;
			background: var(--background-middle);
			height: 100dvh;
			position: absolute;
			left: 270px;
			padding: 0 30px;
			top: 0;
			right: 0;
			z-index: 0;
			opacity: 1;
			overflow-x: hidden;
			overflow-y: scroll;
			border-left: 1px solid var(--background-min);


			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: var(--background-middle);
			}

			&::-webkit-scrollbar-thumb {
				background: var(--skin-color);
			}

			> .container {
				padding: 20px 0px 50px 0;

				> h1 {
					font-size: 40px;
					color: var(--text-main);
					margin-bottom: 50px;
					position: relative;
					display: inline-block;

					&::before {
						content: "";
						position: absolute;
						background: var(--skin-color);
						width: 40%;
						height: 3px;
						bottom: 0;
						left: 0;
					}

					&::after {
						content: "";
						position: absolute;
						background: var(--skin-color);
						width: 40%;
						height: 3px;
						bottom: 0;
						left: 0;
						top: 110%;
						width: 30%;
					}
				}
			}


			&.sectionAppear {
				animation: sectionAppear 1000ms ease-in-out;
			}

			&.home {
				height: 100%;
				color: var(--text-main);
				z-index: 1;

				.container {
					height: 100%;
					display: grid;
					grid-template-columns: repeat(12, 1fr);
					justify-content: center;
					align-items: center;
					padding: 0;
					position: relative;

					.left {
						grid-column: 1/7;

						h1 {
							font-size: 30px;
							margin-bottom: 30px;


							span {
								font-family: "Clicker Script", cursive;
								font-size: 40px;
								color: var(--skin-color);
								font-weight: 900;
							}
						}

						h2 {
							margin-bottom: 10px;
							font-size: 30px;

							span {
								&.typing {
									color: var(--skin-color);
								}

								&.and {
									font-size: 40px;
									font-family: "Clicker Script", cursive;
								}
							}
						}

						p {
							margin-bottom: 50px;
							width: 90%;
							color: var(--text-sub);
							font-size: 1.2rem;
							line-height: 1.5rem;
						}

						> a {
							display: inline-block;
							padding: 12px 60px;
							// border-radius: 50px;
							outline: 1px solid var(--background-min);
							background: var(--background-max);
							font-size: 20px;
							font-weight: 500;
							color: var(--text-main);
							white-space: nowrap;
							transition: all 300ms ease;
							margin-bottom: 50px;
							position: relative;
							top: 0px;
							left: 0px;

							.border {
								position: absolute;
								background: var(--skin-color);
								--size-initial: 20px;

								&:nth-child(1) {
									top: 0;
									left: 0;
									width: var(--size-initial);
									height: 3px;
								}

								&:nth-child(2) {
									bottom: 0;
									right: 0;
									width: 3px;
									height: var(--size-initial);
								}

								&:nth-child(3) {
									bottom: 0;
									right: 0;
									width: var(--size-initial);
									height: 3px;
								}

								&:nth-child(4) {
									top: 0;
									left: 0;
									width: 3px;
									height: var(--size-initial);
								}
							}

							&:hover {
								box-shadow: 5px 5px 0 var(--text-sub);
								top: -5px;
								left: -5px;

								.border {

									&:nth-child(1) {
										width: 100%;
										height: 3px;
									}

									&:nth-child(2) {
										width: 3px;
										height: 100%;
									}

									&:nth-child(3) {
										width: 100%;
										height: 3px;
									}

									&:nth-child(4) {
										width: 3px;
										height: 100%;
									}
								}
							}
						}

						blockquote {
							border-left: 3px solid var(--skin-color);
							padding-left: 20px;
							width: 90%;

							q {
								color: var(--text-main);
								display: block;
							}

							cite {
								color: var(--text-sub);
							}
						}
					}

					.right {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						grid-column: 7/13;

						.img {
							position: relative;
							width: 300px;
							height: 370px;
							margin-bottom: 30px;

							&::before {
								content: "";
								position: absolute;
								width: 80px;
								height: 80px;
								border-bottom: 10px solid var(--skin-color);
								border-left: 10px solid var(--skin-color);
								bottom: -30px;
								left: -50px;
							}

							&::after {
								content: "";
								position: absolute;
								width: 80px;
								height: 80px;
								border-top: 10px solid var(--skin-color);
								border-right: 10px solid var(--skin-color);
								top: -30px;
								right: -50px;
							}

							.overflow {
								width: 100%;
								height: 100%;
								// overflow: hidden;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 5px;
								// border: 5px solid var(--background-min);

							}

							img {
								width: 160%;
								height: 100%;
								border-radius: 5px;
								filter: drop-shadow(0px 0px 5px #fff);

							}
						}

						.links {

							.link {
								margin: 10px;
								position: relative;
								top: 0;

								i {
									color: var(--text-sub);
									font-size: 2.5rem;
								}

								&:hover {
									top: -5px;

									i {
										color: var(--skin-color);
									}
								}

							}
						}
					}

					.copyright {
						position: absolute;
						right: 0;
						bottom: 0;
						color: var(--text-sub);

						a {
							font-style: italic;
							font-weight: bold;
							color: var(--text-sub);

							&:hover {
								text-decoration: underline;
								color: var(--skin-color);
							}
						}
					}
				}
			}

			&.about {
				> .container {
					padding: 20px 30px 150px 0;

					> p {
						color: var(--text-sub);
						margin-bottom: 30px;
						text-align: justify;
					}
				}

				.container {
					h2 {
						color: var(--text-main);
						font-size: 25px;
					}

					.grid-container {
						display: grid;
						grid-template-columns: repeat(12, 1fr);
						gap: 30px;

						.data-self {
							grid-column: 1/9;

							ul.data {
								display: flex;
								justify-content: space-between;
								flex-wrap: wrap;
								margin-bottom: 40px;

								li {
									width: 48%;
									height: 40px;
									display: flex;
									align-items: center;
									border-bottom: 1px solid var(--background-min);
									color: var(--text-sub);

									span {
										color: var(--text-main);
										font-weight: 900;
										padding-right: 5px;
									}
								}
							}

							.btn {
								width: 100%;
								margin-bottom: 70px;

								a {
									margin-right: 30px;
									display: inline-block;
									padding: 10px 35px;
									border-radius: 50px;
									border: none;
									background: var(--skin-color);
									color: var(--background-middle);
									transition: all 300ms ease;
									opacity: 0.8;

									i {
										margin-right: 10px;
										font-size: 22px;

									}

									span {
										font-size: 18px;
										font-weight: 500;
										white-space: nowrap;
									}

									&:hover {
										opacity: 1;
									}
								}
							}

							.education {
								h3 {
									margin-bottom: 20px;
									font-size: 30px;
									color: var(--text-main);
									text-align: center;
								}

								.contain {
									background: var(--background-max);
									border-radius: 10px;
									padding: 30px 25px;
									margin-bottom: 70px;
									background: var(--background-max);
									background-size: 100%;
									box-shadow: 0 0 10px var(--background-min);
									position: relative;

									&::before {
										content: "";
										position: absolute;
										width: 100%;
										height: 100%;
										top: 0;
										left: 0;
										background: url(../static/img/riscos-suaves.png) center no-repeat;
										background-size: 100% 100%;
										transition: 300ms;
										opacity: 1;
									}

									ul {
										li {
											position: relative;
											padding-left: 23px;
											border-left: 5px solid var(--skin-color);
											color: var(--text-sub);
											padding-bottom: 30px;
											text-align: justify;

											&:last-child {
												border-left: 5px solid transparent;
												padding-bottom: 0px;
											}

											.point {
												width: 20px;
												height: 20px;
												background: var(--skin-color);
												border-radius: 50%;
												position: absolute;
												transform: translateX(-178%);
											}

											.time {
												margin-bottom: 10px;
												color: var(--text-sub);

												i {
													margin-right: 8px;
													color: var(--text-main);
												}

												span {
													color: var(--text-sub);
												}
											}

											h4 {
												color: var(--text-main);
												font-size: 20px;
												margin-bottom: 5px;
											}

											p {
												color: var(--text-sub);
											}
										}
									}
								}
							}

							.xp {
								max-width: 600px;
								margin: 0 auto;

								h3 {
									text-align: center;
									font-size: 30px;
									color: var(--text-main);
									margin-bottom: 25px;
								}

								.slides {
									position: relative;
									padding: 20px 50px;
									overflow: hidden;
									border-radius: 10px;
									background: var(--background-max);
									background-size: 100%;
									box-shadow: 0 0 10px var(--background-min);

									&::before {
										content: "";
										position: absolute;
										width: 100%;
										height: 100%;
										top: 0;
										left: 0;
										background: url(../static/img/bg-value-lines.png) center no-repeat;
										background-size: 100%;
										opacity: 1;
										transition: 300ms;
									}

									&:where(.next) {
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
										cursor: pointer;
										padding: 10px 5px;
										font-size: 40px;
										color: var(--skin-color);
										font-size: 30px;
										transition: 200ms;
										user-select: none;
										background: #000;
									}

									.prev,
									.next {
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
										cursor: pointer;
										padding: 10px 5px;

										&:hover {
											> i {
												font-size: 40px;
											}
										}

										&.blocked {
											opacity: 0.5;
											pointer-events: none;
										}

										i {
											color: var(--skin-color);
											font-size: 30px;
											transition: 200ms;
										}
									}

									.prev {
										left: 10px;
									}

									.next {
										right: 10px;
									}

									ul {
										overflow: hidden;
										position: relative;
										height: 180px;
									}

									.slides-pag {
										position: absolute;
										opacity: 0;
										transition: opacity 500ms 0ms;
										width: 500px;

										h4 {
											color: var(--skin-color);
											text-align: center;
											text-transform: uppercase;
											font-size: 20px;
											margin-bottom: 10px;
										}

										.description {
											display: flex;
											gap: 20px;

											.icon {
												display: flex;
												justify-content: center;
												align-items: center;

												i {
													color: var(--skin-color);
													font-size: 7rem;
												}
											}

											p {
												text-align: justify;
												color: var(--text-sub);
											}
										}
									}

									.slides-pag.toRightOld {
										animation: toRightOld 500ms ease-in-out;
									}

									.slides-pag.toRightNew {
										animation: toRightNew 500ms ease-in-out;
									}

									.slides-pag.toLeftOld {
										animation: toLeftOld 500ms ease-in-out;
									}

									.slides-pag.toLeftNew {
										animation: toLeftNew 500ms ease-in-out;
									}

									.slides-pag.active {
										opacity: 1;
										transition: opacity 0ms 0ms;
									}

									.dots-container {
										height: 15px;
										display: flex;
										justify-content: center;
										align-items: center;
										// gap: 1px;

										.dot {
											width: 50px;
											height: 5px;
											// border: 2px solid var(--skin-color);
											background: var(--background-min);
											// border-radius: 50%;
											cursor: pointer;
											transition: 500ms;

											&.active {
												background: var(--skin-color);
											}
										}
									}
								}
							}
						}

						.hardSkills {
							grid-column: 9/13;


							h3 {
								text-align: center;
								font-size: 30px;
								color: var(--text-main);
							}

							> span {
								display: block;
								margin-bottom: 20px;
								color: var(--text-sub);
								text-align: center;
								font-weight: bold;
							}

							#hardSkills-container {
								> h4 {
									margin-bottom: 10px;
									font-size: 20px;
									color: var(--skin-color);
									text-decoration: underline;
								}

								> ul {
									margin-bottom: 15px;
									border-bottom: 1px solid var(--background-min);

									li {
										position: relative;
										margin-bottom: 25px;

										.progress {
											.name-porcent {
												display: flex;
												justify-content: space-between;
												margin-bottom: 5px;
												position: relative;

												span {
													&:nth-child(1) {
														font-weight: 900;
														color: var(--text-main);
														cursor: pointer;

														&:hover {
															~ {
																.details {
																	visibility: visible;
																}
															}
														}
													}

													&:nth-child(3) {
														color: var(--text-sub);
													}
												}

												.details {
													position: absolute;
													visibility: hidden;
													top: 220%;
													background: var(--background-max);
													z-index: 10;
													color: var(--text-sub);
													border: 2px solid var(--text-main);
													padding: 10px;
													border-radius: 10px;
													text-align: justify;
													transition: none;

													&::before {
														position: absolute;
														content: "";
														width: 0px;
														height: 0px;
														border-width: 10px;
														border-style: solid;
														border-color: transparent transparent var(--text-main) transparent;
														top: 0;
														transform: translateY(-100%);
													}
												}
											}

											.progress-bar {
												width: 100%;
												height: 10px;
												background: var(--background-min);
												overflow: hidden;
												border-radius: 50px;

												.progress-value {
													background: var(--skin-color);
													height: 100%;

													position: relative;
													display: flex;
													align-items: center;

													&::after,
													&::before {
														content: '';
														background: var(--skin-color);
														position: absolute;
														left: 93%;
														transform-origin: center;
														transition: 300ms;

													}

													&::after {


														animation: flip 1.5s infinite linear;
														width: 35px;
														height: 35px;
														border-radius: 35%;
														opacity: 0.5;

													}

													&::before {
														animation: flip 2s infinite reverse linear;
														width: 30px;
														height: 30px;
														border-radius: 40%;

													}

													@keyframes flip {
														0% {
															transform: rotate(0deg);
														}

														100% {
															transform: rotate(180deg);
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

				}
			}

			&.services {
				* {
					// outline: 1px dotted;
				}

				#services-container {
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					gap: 20px;
					// justify-content: space-between;

					.card {
						min-width: 300px;
						max-width: 400px;
						background: var(--background-max);
						padding: 20px;
						border: 2px solid var(--background-min);
						border-radius: 5px;

						.i {
							height: 100px;
							display: flex;
							align-items: center;
							justify-content: center;

							i {
								height: 100px;
								width: 100px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 30%;
								color: var(--skin-color);
								font-size: 3rem;
								transition: 400ms ease-in-out;
							}
						}

						h2 {
							display: flex;
							align-items: center;
							justify-content: center;
							color: var(--text-main);
							font-size: 1.5rem;
							text-align: center;
							margin-bottom: 20px;
							height: 70px;
						}

						p {
							color: var(--text-sub);
							text-align: justify;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							overflow: hidden;
							height: 95px;
						}

						&:hover {
							cursor: pointer;
							border-color: var(--skin-color);

							i {
								color: var(--background-max);
								background: var(--skin-color);
								padding: 20px;
								border-radius: 50%;

							}
						}
					}
				}
			}

			&.highlights {
				.better {
					margin-bottom: 100px;
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					align-items: center;
					justify-content: center;
					gap: 20px;

					li {
						max-width: 500px;
						height: 150px;
						background: var(--background-max);
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 2rem;
						text-transform: uppercase;
						font-weight: bold;
						color: var(--skin-color);
						position: relative;
						top: 0;
						left: 0;

						&:hover {
							box-shadow: 5px 5px 0 0 var(--skin-color), 10px 10px 0 0 var(--background-min);
							top: -10px;
							left: -10px;
						}

						&::before,
						&::after {
							content: "";
							position: absolute;
							width: 60%;
							height: 3px;
							background: var(--background-middle);
							// left: 0;

						}

						&::before {
							top: 30%;
						}

						&::after {
							bottom: 30%;
						}
					}
				}

				.soft-skills {
					margin-bottom: 100px;

					h2 {
						color: var(--skin-color);

						font-size: 2rem;
						margin-bottom: 30px;
						text-align: center;
					}

					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						gap: 20px;

						li {
							padding: 10px 20px;
							border-radius: 10px 0;
							background: var(--background-max);
							color: var(--text-sub);
							font-weight: bold;
							font-size: 1.1rem;
							display: flex;
							align-items: center;
							gap: 10px;
							// border-right: 3px solid var(--skin-color);
							// border-bottom: 3px solid var(--skin-color);
							box-shadow: 1px 1px 0 3px var(--skin-color);

							&:hover {
								background: var(--skin-color);
								color: var(--background-max);
							}

						}
					}
				}

				article.box {
					background: var(--background-max);
					border-radius: 30px;
					padding: 50px;
					margin-bottom: 100px;

					* {
						// outline: 1px dotted;
					}

					> div {
						display: grid;
						grid-template-columns: repeat(12, 1fr);
						margin-bottom: 100px;

						// background: var(--background-max);
						.img {
							grid-column: 1/6;
							display: flex;
							justify-content: center;
							align-items: center;

							img {
								width: 100%;
							}

						}

						.content {
							grid-column: 7/13;
							display: flex;
							justify-content: center;
							// align-items: center;
							flex-direction: column;

							h2 {
								color: var(--skin-color);

								font-size: 2rem;
								margin-bottom: 20px;
								position: relative;
								width: 100%;
								padding-left: 23px;

								&::after {
									content: "";
									position: absolute;
									width: 100%;
									height: 2px;
									bottom: 0;
									background: var(--background-min);
									left: 0;
								}
							}

							ul {
								display: flex;
								flex-direction: column;
								gap: 5px;

								li {
									color: var(--text-sub);
									font-size: 0.9rem;
									display: flex;
									align-items: center;
									gap: 10px;

									&::before {
										content: "\2606";
										color: var(--skin-color);
										font-size: 1.2rem;

									}

									&.filled::before {
										content: "\2605";
									}
								}
							}
						}

						&.strength {
							.img {
								grid-column: 7/13;
							}

							.content {
								grid-column: 1/6;
							}
						}

						&.awards {
							margin: 0;
						}
					}
				}


			}

			&.projects {
				#projects-container {
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

					.card {
						margin: 20px;
						overflow: hidden;
						position: relative;
						width: 450px;
						border-radius: 10px;
						height: 270px;
						background: var(--background-max);
						display: flex;
						justify-content: center;
						align-items: center;

						&:hover {
							transform: scale(1.05);
							box-shadow: 0 0 20px 0 var(--text-sub);

							.animation {
								border-radius: 0%;

								height: 100%;
								width: 100%;
								border-radius: 0px;
							}

							.details {
								width: 450px;
							}
						}

						.img {
							width: 100%;
							height: 100%;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
							}
						}

						.animation {
							width: 0%;
							height: 0%;
							position: absolute;
							overflow: hidden;
							z-index: 2;
							border-radius: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							background: var(--background-max);
						}

						.details {
							width: 450px;
							padding: 20px;
							position: absolute;

							height: 270px;
							overflow: hidden;
							transition: 345ms;

							&::before {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: url(../static/img/riscos-suaves.png) center fixed;
								background-size: 100% 100%;
								z-index: -1;
							}

							.skill-tags {
								display: flex;
								align-items: center;
								margin-bottom: 10px;

								.tag {
									padding: 5px 10px;
									border-radius: 5px;
									margin: 5px;
									font-size: 0.6rem;
									display: inline-block;
									background: var(--text-main);
									color: var(--background-min);
									font-weight: bold;

								}
							}

							h3 {
								color: var(--text-main);
								text-align: center;
								margin-bottom: 10px;
								font-size: 1.5rem;
							}

							p {
								color: var(--text-sub);
								text-align: justify;
								hyphens: auto;
								-webkit-hyphens: auto;
								-moz-hyphens: auto;
								-ms-hyphens: auto;
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								overflow: hidden;
								height: 70px;
								margin-bottom: 20px;
							}

							.links {
								display: flex;
								justify-content: space-between;
								align-items: center;
								height: 50px;

								a {
									width: 45%;
									display: block;
									padding: 10px 0 10px;
									background: var(--text-sub);
									font-weight: bold;
									border-radius: 5px;
									color: var(--background-max);
									text-align: center;
									margin: 0 auto;

									&:hover {
										background: var(--text-main);
									}
								}

								span {
									display: block;
									margin: auto;
									color: var(--skin-color);
									font-size: 1rem;
									font-weight: bold;
								}
							}
						}
					}
				}
			}

			&.contact {
				* {
					// outline: 1px dotted;
				}

				.title {
					width: 100%;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-bottom: 40px;

					h2 {
						font-size: 1.8rem;
						margin-bottom: 10px;
						font-weight: 900;
						color: var(--skin-color);
					}

					span {
						color: var(--text-main);
						font-size: 1.1rem;
						font-weight: 900;
					}
				}

				ul {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					margin-bottom: 50px;

					li {
						min-width: 220px;
						width: 22%;
						max-width: 300px;
						margin: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						padding: 25px 20px;
						outline: 2px solid transparent;
						border-radius: 5px;

						.icon {
							margin-bottom: 15px;

							i {
								color: var(--skin-color);
								font-size: 3rem;
							}
						}

						h4 {
							color: var(--text-main);
							margin-bottom: 10px;
						}

						a {
							color: var(--text-sub);
							display: block;
							text-align: center;
							padding: 10px 0;
							width: 95%;
							border-radius: 5px;
						}

						&:hover {
							background: var(--background-max);
							outline: 2px solid var(--background-min);
							transform: scale(1.05);


							h4 {
								color: var(--text-main);
							}

							a {
								background: var(--skin-color);
								color: white;

							}
						}

					}
				}

				form {
					width: 100%;

					.name-email {
						display: flex;
						justify-content: space-between;

						.camp {
							width: 48%;
						}
					}

					.camp {
						display: flex;
						flex-direction: column;

						label {
							color: var(--text-sub);
							font-size: 1.2rem;
							margin-bottom: 10px;
							margin-left: 20px;
							font-weight: bold;
						}

						input,
						textarea {
							width: 100%;
							height: 50px;
							padding: 0 20px;
							font-size: 1.2rem;
							border-radius: 100px;
							margin-bottom: 30px;
							border: 2px solid transparent;
							background: var(--background-max);
							color: var(--text-main);

							&:focus {
								border: 2px solid var(--skin-color);

							}
						}

						textarea {
							min-height: 65px;
							height: 200px;
							max-height: 300px;
							border-radius: 15px;
							padding: 15px 20px;
							resize: vertical;
							margin-bottom: 20px;
						}

					}



					.button {
						display: flex;
						justify-content: center;
						align-items: center;

						button {
							width: 250px;
							width: 50%;
							height: 50px;
							border-radius: 100px;
							border: 2px solid #757575;
							background: var(--background-min);
							color: var(--text-main);
							font-size: 1.2em;

							&:hover {
								border: 2px solid var(--background-min);
								background: var(--skin-color);
								color: white;
							}
						}
					}
				}
			}
		}
	}

	&.dark {
		--background-middle: #151515;
		--background-max: #222222;
		--background-min: #393939;
		--text-main: #ffffff;
		--text-sub: #b4b4b4;
		// --text-sub: #e9e9e9;

		main {
			section.about {
				.container {
					.geral-data {
						.data-self {
							.education {
								.contain {
									&::before {
										opacity: 0.1;
									}
								}
							}

							.xp {
								.slides {
									&::before {
										opacity: 0.2;
									}
								}
							}
						}
					}
				}
			}

			section.projects {
				#projects-container {
					.card {
						.details {
							&::before {
								opacity: 0.3;
							}
						}
					}
				}
			}
		}
	}
}