@media (max-width: 600px) {
	body {
		.dot-cursor {
			display: none;
		}
	}
}

@media (max-width: 1600px) {
	body {
		main {
			section.home {
				.container {
					.left{
						grid-column: 1/13;
					}
					.right {
						display: none;

						
					}
				}
			}
		}
	}
}